.tabOne__wrapper {
    width: 1255.5px;
    height: fit-content;
    border: 4px solid black;
    border-top: none;
    border-radius: 0 0 15px 15px;
    background-color: #fff;
}

.keyboard {
    padding: 10px;
}

.keyboard ul {
    display: flex;
    position: relative;
}

.keyboard ul * {
    margin-right: 10px;
}

.keyboard h2 {
    margin-top: 7px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard h3 {
    font-size: 24px;
    position: absolute;
    left: 38px;
    bottom: 5px;
}

.keyRow {
    margin-top: 10px;
}

.figure {
position: absolute;
right: 147px;
width: 140px;
height: 60px;
border-radius: 4px;
box-shadow: rgba(53, 29, 163, 0.0) 0px 54px 55px, rgba(53, 29, 163, 0.24) 0px -12px 30px, rgba(53, 29, 163, 0.30) 0px 4px 6px, rgba(53, 29, 163, 0.15) 0px 12px 13px, rgba(53, 29, 163, 0.15) 0px -3px 5px;
}

.figure2 {
position: absolute;
right: 147px;
width: 140px;
height: 60px;
border-radius: 4px;
background-color: #fff;
}

.figure2::after {
content: '';
position: absolute;
top: 60px;
right: 0;
display: block;
width: 90px;
height: 72px;
border-radius: 4px;
background-color: #fff;
}

.figure2::before {
font-size: 36px;
content: '\00a0\00a0\00a0↵';
display: block;
position: absolute;
background-color: #fff;
height: 20px;
width: 90px;
right: 0;
top: 50px;
z-index: 1;
}

.figure::after {
content: '';
position: absolute;
top: 60px;
right: 0;
display: block;
width: 90px;
height: 72px;
border-radius: 4px;
box-shadow: rgba(53, 29, 163, 0.0) 0px 54px 55px, rgba(53, 29, 163, 0.24) 0px -12px 30px, rgba(53, 29, 163, 0.30) 0px 4px 6px, rgba(53, 29, 163, 0.15) 0px 12px 13px, rgba(53, 29, 163, 0.15) 0px -3px 5px;
}
