.title {
    padding-top: 15px;
    border-radius: 10px;
    height: 80px;
    width: 800px;
    margin-left: 100px;
    margin-right: 20px;
    margin-bottom: 25px;
    font-size: 64px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.3) -3px -3px 6px 1px inset;
    background-color: #fff;
    overflow: hidden;
}

.typing {
    display: flex;
    width: 1000px;
    margin: auto;
}

.title {
    font-size: 55px;
    font-weight: 400;
    white-space: nowrap;
}

.paste {
    margin-top: 16px;
    width: 48px;
    height: 48px;
    transition: all  0.6s;
}

.paste img {
    width: 48px;
    height: 48px;
    transition: all  0.6s;
}

.lastKey h2 {
    margin-left: 25px;
}