@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    line-height: 100%;
    color: #000;

    --Text: #86969C;
    --Gray: #B8C6CF;
    --Accent: rgb(53, 29, 163);
    --Blue: rgb(0, 39, 211);
    --Red: rgb(225, 0, 0);
    --Green: rgb(16, 185, 129);
}

:root {
  --main-color: rgb(104, 117, 217);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
}